<StackLayout class="p-10">
  <Label [text]="'LOVE_TECH' | translate" textWrap="true" class="love-tech"></Label>
  <Label [text]="'SUCCESS_MSG' | translate" textWrap="true"></Label>
  <Label [text]="'ABOUT_REWARD' | translate" textWrap="true"></Label>

  <TextField [(ngModel)]="newName" [hint]="'INPUT_HINT' | translate" autocorrect="false" autocapitalizationType="none"></TextField>
  <Button [text]="'ADD_BTN_TEXT' | translate" (tap)="addName()" class="btn btn-primary"></Button>

  <ListView [items]="names$ | async" row="1" colSpan="2" height="250">
    <template let-name="item" let-odd="odd" let-even="even">
      <StackLayout [class.odd]="odd" [class.even]="even" class="list-item">
        <Label [text]="name"></Label>
      </StackLayout>
    </template>
  </ListView>

  <ListView [items]="navitems | async" class="list-group" height="250">
    <template let-item="item" let-i="index" let-odd="odd" let-even="even">
      <GridLayout columns="*, 20" class="list-group-item" [class.c-bg-grey]="item.currentSegment" [class.odd]="odd" [class.even]="even">
        <Label class="list-group-item-text" [text]="item.title" col="0" [colSpan]="item.currentSegment ? 1 : 2"></Label>
        <Image *ngIf="item.currentSegment" src="res://now_playing" col="1"></Image>
      </GridLayout>
    </template>
  </ListView>

  <Button (tap)="readAbout()" text="Read all about it" class="btn btn-outline"></Button>
</StackLayout>
